.note-edit-container {
    position: fixed;
    background: $main-color;
    top: 0vh;
    left: 0vh;
    height: 100vh;
    width: 98%;
    z-index: 20;
    background: rgba(255,255,255, 0.5);

    .note-edit {
        width: 96%;
        margin-left: 2%;
        margin-top: 12vh;
        overflow: hidden;
        padding: 0;
        border: 2px solid black;
        border-radius: 5px;
        background: $main-color;
        position: relative;

        
       button {
        width: 4rem;
        padding: 0.5rem 0.5rem;
        display: inline;
        }


        .form-edit-header {
            width: 100%;
            border-bottom: 2px solid black;
            height: 10vh;
            display: flex;
            align-items: center;
            justify-content: space-between;
            
            .note-edit-title {
                margin-left: 1%;
                height: 2rem;
                background: $main-color;
                resize: none;
                outline: none;
                border: none;
                font-size: 2rem;
                white-space: nowrap;
                overflow: hidden;
            }
    
            .note-button-list {
                display: flex;
                height: 100%;
                padding: 0;
                width: auto;
    
                &:last-child {
                    margin-right: 1vw;
                }
    
                li {
                    list-style-type: none;
                    margin-left: 1vw;
                    display: flex;
                    align-items: center;
                }

                button {
                    margin: 0;
                }
            }
        }

        .note-edit-text {
            height: 60vh;
            overflow-y: scroll;
            width: 92%;
            background: $main-color;
            border: none;
            margin: 1%;
            outline: none;
            resize: none;
            scrollbar-width: thin;
            scrollbar-color: lighten(#6969dd, 15%) $main-color;
            white-space: pre-wrap;
        }

       .button-update {
           position: absolute;
           bottom: 1vw;
           right: 1vw;
       }
        
    }

    @media (min-width: 850px) {
        .note-edit {
            width: 73%;
        }
    }
}